% needed to run
groups/
DATA/
figs/
raw/
Deane2020/CurranSpectral/Data/
Deane2020/CurranSpectral/Pictures/


*.asv
*.csv
*.pdf
*.pptx
*.doc

% Pipelines for specific projects
Pipeline_KatPhD.m
Pipeline_KatMasterThesis.m
Pipeline_Deane2020.m
Pipline_RunScalos.m

% extra
diaries&stats/
16062018_ohne_mirror/
Figs_Group_comparison/
Martin_R_for_Micha/
sinktuning_readout
